<div class="login-page-container">
    <div class="image-container">
        <img class="article-wallpaper"
            src="https://res.cloudinary.com/duitcaqfj/image/upload/v1730127609/blog-article-images/blog/publishing-content-to-apple-news/publishing-content-to-apple-news_0.png">
    </div>
    <div class="login-action-section">
    <div class="header-text">Let's Get Started</div>
        <button mat-flat-button (click)="loginWithGoogle()">
        <img class="google-img" src="https://cdn4.iconfinder.com/data/icons/logos-brands-7/512/google_logo-google_icongoogle-512.png">
        <span class="button-text">Login With Google</span></button>
    </div>

</div>