<div class="create-post-container">
  <mat-card class="editor-card">
    <mat-card-header>
      <mat-card-title>Create a New Post</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="title" placeholder="Post Title">
      </mat-form-field>
      
      <div class="editor-container">
        <!-- <quill-editor [(ngModel)]="content" [modules]="editorConfig"></quill-editor> -->
        <quill-editor [(ngModel)]="content" class="content-editor" [placeholder]="''"> </quill-editor>

      </div>
</mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="saveDraft()">Save as Draft</button>
      <button mat-raised-button color="accent" (click)="publishPost()">Publish</button>
    </mat-card-actions>
  </mat-card>
</div>
